@font-face {
font-family: 'Aller_Mod 2-AllerMod-R-lyHtr5pC';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/aa72f29e-f959-4f24-b8c0-992f967ba5bc/allermod-regular.woff') format('woff');
}