@font-face {
font-family: 'Aller_Mod 2-AllerMod-B-c8AAiFUO';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/15349118-de15-4b3f-9212-72b9c5bc45ed/allermod-bolditalic.woff') format('woff');
}