@font-face {
font-family: 'Aller_Mod 2-AllerMod-B-HqroDKdz';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/f93e9110-4b9c-4f9c-a22f-1bfa5df2c9d8/allermod-bold.woff') format('woff');
}