@font-face {
font-family: 'Aller_Mod 2-AllerMod-R-6sTInUta';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/14ab74eb-80fe-464f-896b-0afa1a1a5be0/allermod-regular1.woff') format('woff');
}